@model BillItem

<form asp-action="AddBillItem" method="POST">
  <label asp-for="Name">Add New Bill Item:</label>
  <input asp-for="Name">
  <input asp-for="BillAmount">  
  <input asp-for="DueDate" type="date">
  <button type="submit">Add New</button>
</form>